    *{
        padding: 0;
        margin: 0;
                
    }

    h1{
        font-family: 'Raleway', sans-serif;
        align-items: center;


    }

    .contenedor{
        background-color: aqua;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
                
    }

    .cuadro{
        width: 400px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

    }

    .cuadro div{
        background-color: rgb(92, 92, 189);
    }